*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(img/fondo.jpg);
}
/* NAV */
.section_nav{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px)
}

.nav{
    width: 100%;
}

.ul_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.li_nav{
    list-style: none;
}

.link_nav{
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    border-bottom: 1px solid #aaa;
    font-family: 'Manrope', sans-serif;
}
.link_nav:hover{
  border-bottom: 2px solid #aaa;
}
/* HOME */
.section_home{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px)
}

.titulo_home{
    animation: backInLeft;
    animation-duration: 1.7s;
    font-size: 30px;
    color: #ccc;
    font-family: 'Cormorant Garamond', serif;
}

.saludo_home{
  color: #ccc;
  font-family: 'Cormorant Garamond', serif;
}
.trabajo_home{
    animation: backInLeft;
  animation-duration: 2s;
  color: #ccc;
  font-family: 'Cormorant Garamond', serif;
}
/* Skills */
.article_skill{
    margin-top: 30px;
    width: 100%;
}

.titulo_skill{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}

.div_skills{
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

/* PROJECTS */

.titulo_project{
  margin-top: 8px;
    text-align: center;
    font-size: 24px;
    color: #eee;
    font-weight: 900;
    font-family: 'Manrope', sans-serif;
}

.content_div{
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}
.img_project{
    width: 100%;
    height: 100%;
}
.btn_sitio{
  background-color: rgba(255, 255, 255, .05);
  backdrop-filter: blur(3px);
  color: #888;
  font-weight: 900;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'Manrope', sans-serif;
}
/* FORMULARIO */

/* .section_form{
    width: 100%;
    margin-top: 12px;
}

.section_form h2{
    text-align: center;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label_form{
    width: 65%;
    text-align: left;
}

.input_form{
    width: 65%;
}

.btn_enviar{
    width: 50px;
    margin-top: 6px;
} */

/* FOOTER */

.footer{
    width: 100%;
    height: 100px;
    display: flex;
}

.titulo_contacto{
  text-align: center;
}
.contacto{
  color: #eee;
  font-family: 'Manrope', sans-serif;
}

.link{
  text-decoration: none;
  margin-left: 5px;
}

.contacto_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
}


/* responsive  ipad */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  body{
    background-size: cover;
  }

  /* NAV */
  .section_nav{
    padding-top: 10px
  }
  .link_nav{
    font-size: 30px
  }

  /* HOME */
  .saludo_home{
    font-size: 20px;
    color: #222;
    font-weight: bold;
  }
  .titulo_home{
    font-size: 50px;
    color: #222;
  }

  .trabajo_home{
    font-size: 25px;
    color: #222;
    font-weight: bold;
  }

  /* skills */

  .titulo_skill{
    font-size: 40px;
  }

  .img_skills{
    width: 60px
  }

  /* Projects */

  .titulo_project{
    font-size: 40px;
    font-weight:normal;
  }

  .content_div{
    justify-content: center;
    grid-template-columns: 75%;
    row-gap: 35px;
  }

  .content_img{
    border: 4px solid #000;
  }

  .btn_sitio{
    font-size: 20px;
  }
  /* FOOTER */
  .contacto_footer{
    padding-top: 8px;
    margin-top: 80px;
  }
  .contacto{
    font-size: 22px
  }
}

@media only screen and (min-width: 1024px){
  body{
    background: #1D2534;
  }
  /* NAV */
  .section_nav{
    height: 32px;
    z-index: 5;
    position: absolute;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px)
  }

  .nav{
    height: 100%
  }

  .ul_nav{
    height: 100%;
    align-items: center;
  }
  /* HOME */

  .section_home{
    z-index: 1;
    background-image: url(img/fondo.jpg);
  }

  .titulo_home{
    font-size: 40px;
  }

  /* skill */
  .titulo_skill{
    color: #bbb;
  }
  .div_img_sk{
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px);
    padding: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* project */

  .content_div{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 30px;
  }
  .content_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img_project{
    width: 80%;
    height: 90%;
  }
  .btn_sitio{
    z-index: 5;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px);
    color: #aaa;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Manrope', sans-serif;
  }

  .btn_sitio:hover{
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(3px);
    border: 2px solid #222;;
  }

  /* Footer */

  .contacto_footer{
    margin-top: 14px;
  }
}
